@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=DotGothic16&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(90deg, #ff5edf 0%, #04c8de 100%);
  z-index: -1;
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.btn {
  @apply bg-pink-700/70 font-semibold text-white py-1 px-2 hover:bg-pink-500/50 text-lg rounded-tr-md rounded-br-md cursor-pointer;
}

.imageForm {
  @apply relative w-full flex justify-center items-center shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur px-4 py-8 border-red-900 rounded-sm shadow-md hover:scale-105 transition-all ease-in-out duration-500;
}
